body{
background-color:#004225;
}
header{
background-image:url(lis2.jpg);	

border:2px solid black;
border-radius:25px;
background-size:cover;
padding:10px;
}
footer{
height:100px;
background-color:black;	
}
h1{
color:white;	
}
.page1a1{
border-radius:25px;
margin-top:10px;
padding:15px;
font-family:Courier New;
font-weight:bold;
font-size:85px;
}
a{
color:white;
hover:gray;
font-size:70px;
font-family:Courier New;
text-decoration:none;

}

a:hover{
color:gray;	
}

.wfil{
font-family:Courier New;	
}
.lis2{
width:60%;
height:60%;	
}

button{
border-radius:25px;	
}

header a {
margin:10px;	
}
