body{
background-color:#004225;
}
header{
background-color:gray;	
height:70px;
border:2px solid black;
border-radius:25px;
}
footer{
height:100px;
background-color:black;	
}
h1{
color:white;	
}
.page1a1{
background-color:gray;
border:2px solid black;
border-radius:25px;
margin-top:10px;
padding:15px;
display:inline-block;	
}
.page1a2{
background-color:gray;
border:2px solid black;
border-radius:25px;
margin-top:10px;
padding:15px;
display:inline-block;	
}